@model GDental.Core.Model.Tipo_Documento

@{
    ViewBag.Title = "Excluir";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tipo_Documento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdTipoDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTipoDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlgAtivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlgAtivo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
